<mat-card *ngFor="let simpson of myQuotes; let i=index">
  <mat-card-header>
    <mat-card-title>
      {{simpson.character}}
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="simpson.image" alt="Image of a simpson">
  <mat-card-content>
    <p>
      <em>
        "{{simpson.quote | maxlength:75 }}"
      </em>
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="primary" [routerLink]="['details',i]" >Voir plus</a>
  </mat-card-actions>
</mat-card>